#nav a {
    color: #EEE;
    font-family: Microsoft JhengHei;
    font-size: 16px !important;
}

#nav a:hover {
    color: black;
    background-color: #acf9e6 !important;
    text-decoration: underline;
}

#searchgroup{
 margin-right:1em;
}

.spancontent{
	color:black;
}